@inject IJSRuntime jsRuntime
@implements IAsyncDisposable

<div class="row align-items-center">
    <div class="col-12">
        <video id="my-player" controls class="video-js"></video>
    </div>
</div>
<h3>@Url</h3>

@code {
    [Parameter]
    public string? Url { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("loadPlayer", "my-player", new
            {
                controls = true,
                autoplay = false,
                preload = "auto",
                width = 560,
                height = 264,
                techOrder = new[] { "youtube" },
                sources = new[]
                {
                    new { type =  "video/youtube", src = @Url}
                }
            });
        }
    }

    public async ValueTask DisposeAsync()
    {
        await jsRuntime.InvokeVoidAsync("disposePlayer", "my-player");
    }
}
