@page "/player"
@using TubeLess.Shared;

<PageTitle>Player</PageTitle>

<h1>Player</h1>

<Player @key="_urls[_idx]" Url="@_urls[_idx]" />

<button class="btn btn-lg btn-primary" @onclick="HandleClick">Change video</button>

@code {
    int _idx = 0;
    List<string> _urls = new()
    {
        "https://www.youtube.com/watch?v=9dLrtDVDWYg",
        "https://www.youtube.com/watch?v=l40nk18GUzk"
    };

    void HandleClick()
    {
        _idx++;
        if (_idx == _urls.Count)
        {
            _idx = 0;
        }
    }
}
